/**
 * Plugin styles
 */
.ce-header {
  margin-top: 0.8em;
  margin-bottom: .4em;
  font-weight: 500;
  outline: none;
}

.ce-header p,
.ce-header div{
  padding: 0 !important;
  margin: 0 !important;
}
.ce-header.h1 {
  font-size: 26px;
}
.ce-header.h2 {
  font-size: 22px;
}
.ce-header.h3 {
  font-size: 20px;
}
.ce-header.h4 {
  font-size: 18px;
}
.ce-header.h5 {
  font-size: 16px;
}
.ce-header.h6 {
  font-size: 15px;
}

/**
 * Styles for Plugin icon in Toolbar
 */
.ce-header__icon {}

.ce-header[contentEditable=true][data-placeholder]::before{
  position: absolute;
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  display: none;
  cursor: text;
}

.ce-header[contentEditable=true][data-placeholder]:empty::before {
  display: block;
}

.ce-header[contentEditable=true][data-placeholder]:empty:focus::before {
  display: none;
}
